:root {
  /* Brand colors */
  --brand-primary: #870069;
  --brand-primary--inverted: #ffffff;
}

:global([class*='header_root_']) {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

:global([class*='header_mainNav_']) {
  display: contents;
}

:global([class*='header_title_']) {
  padding: 8px;
  order: -1;
  overflow-x: auto;
}

:global([class*='header_paneActions_']) {
  padding: 0;
}

@media screen and (max-width: 768px) {
  :global([class*='SelectLanguage_targetValue_']) {
    display: none;
  }

  :global([class*='SelectLanguage_targetIcon_']) {
    display: flex;
    align-items: center;
    margin: 0;
  }

  :global([class*='SelectLanguage_targetIcon_']::before) {
    content: 'Lang';
    font-size: 0.8rem;
  }
}

:global([class*='header_viewNav_']) {
  margin: 0;
  order: -1;
}

:global([class*='documentStatusBar_root_']) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Popups*/

:global([class*='PortableTextInput_editorWrapper_']) {
  overflow-x: hidden;
}

:global([class*='OverflowMenu_overflowMenu_']) {
  max-height: 75vh;
  overflow-x: auto;
}

/*Form elements*/

:global([class*='DefaultFieldset_fieldWrapper_'] [data-ui='Box']) {
  padding: 0;
}

:global([data-ui='Button'] > [data-ui='Box']) {
  padding: 13px 8px;
}

:global([class*='DefaultFieldset_content_']) {
  border: none !important;
  padding: 0 !important;
}

:global([class*='DefaultFieldset_content_'] [data-focus-path] label),
:global([class*='DefaultFieldset_content_'] [data-focus-path] [class*='DefaultLabel_root_']) {
  font-size: 0.65rem;
  margin: -8px 0 2px auto;
  transform: none;
}

:global([data-focus-path='en'] [class*='DefaultFormField_headerMain_']) {
  padding: 0;
  order: 1;
}

:global([class*='ObjectInput_fieldWrapper_']) {
  gap: 1rem;
}

:global([class*='DefaultFormField_header_']) {
  padding-bottom: 0;
}

:global([class*='DefaultFieldset_header_']) {
  padding-bottom: 0;
}

:global([class*='DefaultFieldset_headerMain_']) {
  padding: 0;
}

:global([data-focus-path] [data-ui='Stack']) {
  gap: 0;
}
