[class*='Branding_root_'] {
  padding: 0 !important;
}

/* Logo */

[class*='Branding_brandLogoContainer_'] svg {
  height: 33px !important;
}

/*Popups*/

[class*='PortableTextInput_editorWrapper_'] {
  overflow-x: hidden;
}

[class*='OverflowMenu_overflowMenu_'] {
  max-height: 75vh;
  overflow-x: auto;
}
